# **Importing Pandas and numpy Libraries**

In [7]:
import pandas as pd
import numpy as np

## **Reading Dataset and loading into pandas dataframe**:

In [8]:
# from google.colab import files
# data_to_upload = files.upload()

In [9]:
df = pd.read_csv("prac3-1.csv")

In [10]:
df

    Cust Id  Gender  Age  Income
0         1    male   49   99793
1         2    male   41  163984
2         3    male   53  119025
3         4    male   39  142759
4         5    male   47  117799
..      ...     ...  ...     ...
95       96  female   25  148032
96       97  female   21   84272
97       98  female   54   38850
98       99  female   36  184195
99      100  female   42   72030

[100 rows x 4 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cust Id  100 non-null    int64
 1   Gender   100 non-null    object
 2   Age      100 non-null    int64
 3   Income   100 non-null    int64
dtypes: int64(3), object(1)
memory usage: 3.3+ KB

In [12]:
df.describe()

          Cust Id         Age        Income
count  100.000000  100.000000     100.00000
mean    50.500000   40.870000  117057.18000
std     29.011492   11.642533   46470.69988
min      1.000000   20.000000   37622.00000
25%     25.750000   32.750000   78456.00000
50%     50.500000   42.500000  118316.00000
75%     75.250000   49.000000  156036.75000
max    100.000000   60.000000  198663.00000

In [13]:
df.describe(include = "all")

           Cust Id Gender         Age        Income
count   100.000000    100  100.000000     100.00000
unique         NaN      2         NaN           NaN
top            NaN   male         NaN           NaN
freq           NaN     50         NaN           NaN
mean     50.500000    NaN   40.870000  117057.18000
std      29.011492    NaN   11.642533   46470.69988
min       1.000000    NaN   20.000000   37622.00000
25%      25.750000    NaN   32.750000   78456.00000
50%      50.500000    NaN   42.500000  118316.00000
75%      75.250000    NaN   49.000000  156036.75000
max     100.000000    NaN   60.000000  198663.00000

## **Group the dataset by Gender and income**

In [14]:
summary = df.groupby("Gender")["Income"].describe(include = "all")

summary

,count,mean,std,min,25%,50%,75%,max
Gender,,,,,,,,
female,50.0,111747.06,46517.170937,38710.0,73303.75,111321.0,146871.75,195390.0
male,50.0,122367.30,46278.839644,37622.0,82910.50,120726.5,158891.25,198663.0

## **Count the gender**

In [15]:
counts = df["Gender"].value_counts().tolist()
counts

[50, 50]

## **Perform required operations**

In [16]:
df.groupby("Gender")["Income"].min()

Gender
female    38710
male      37622
Name: Income, dtype: int64

In [17]:
df.groupby("Gender")["Income"].max()

Gender
female    195390
male      198663
Name: Income, dtype: int64

In [18]:
df.groupby("Gender")["Income"].mean()

Gender
female    111747.06
male      122367.30
Name: Income, dtype: float64

In [19]:
df.groupby("Gender")["Income"].median()

Gender
female    111321.0
male      120726.5
Name: Income, dtype: float64

In [20]:
df.groupby("Gender")["Income"].std()

Gender
female    46517.170937
male      46278.839644
Name: Income, dtype: float64

In [21]:
df.groupby("Gender")["Income"].quantile(0.25)

Gender
female    73303.75
male      82910.50
Name: Income, dtype: float64

In [22]:
df.groupby("Gender")["Income"].quantile(0.5)

Gender
female    111321.0
male      120726.5
Name: Income, dtype: float64

In [23]:
df.groupby("Gender")["Income"].quantile(0.75)

Gender
female    146871.75
male      158891.25
Name: Income, dtype: float64