**Data Analytics II**
1. Implement logistic regression using Python/R to perform classification on
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision,
Recall on the given dataset..

**Importing Libraries**

In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt

**Upload The Dataset**

In [3]:
# from google.colab import files
# files.upload()

**Creating the dataframe**

In [4]:
df=pd.read_csv("prac5Social_Network_Ads.csv")

Data Preprocessing

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [6]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [7]:
df.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [8]:
df.isnull()

       Age  EstimatedSalary  Purchased
0    False            False      False
1    False            False      False
2    False            False      False
3    False            False      False
4    False            False      False
..     ...              ...        ...
395  False            False      False
396  False            False      False
397  False            False      False
398  False            False      False
399  False            False      False

[400 rows x 3 columns]

In [9]:
df.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

Using Logistic regression( Train the Machine ) to Create Model

Import Class

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
logreg = LogisticRegression()

In [12]:
x = df.drop(['Purchased'], axis = 1)
y = df['Purchased']

In [13]:
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [14]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

Splitting The Dataset: Train and Test dataset

In [15]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size =0.2,random_state = 0)

In [16]:
logreg.fit(xtrain,ytrain)

LogisticRegression()

In [17]:
y_pred=logreg.predict(xtest)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

Confusion metrices

In [18]:
from sklearn.metrics import precision_score,confusion_matrix,accuracy_score,recall_score,classification_report
cm= confusion_matrix(ytest, y_pred)

In [19]:
cm

array([[58,  0],
       [22,  0]], dtype=int64)

Accuracy Score

In [20]:
from sklearn.metrics import accuracy_score

print ("Accuracy : ", accuracy_score(ytest, y_pred))

Accuracy :  0.725

Precision Score

In [21]:
from sklearn.metrics import precision_score
ps= precision_score(ytest,y_pred)

c:\Users\adeed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [22]:
ps

0.0

Recall Score

In [23]:
rs=recall_score(ytest,y_pred)

In [24]:
rs

0.0

Error Rate

In [25]:
print ("Error Rate : ",1-accuracy_score(ytest, y_pred))

Error Rate :  0.275

**Classification Report**

In [26]:
print ("Classification Report", classification_report(ytest, y_pred))

Classification Report               precision    recall  f1-score   support

           0       0.72      1.00      0.84        58
           1       0.00      0.00      0.00        22

    accuracy                           0.73        80
   macro avg       0.36      0.50      0.42        80
weighted avg       0.53      0.72      0.61        80

c:\Users\adeed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\adeed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\adeed\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))